<template>
    <div>
        <div class="d_nav">
            <div class="logo">
                <a href="/">Sunweb</a>
                <p>Разработка сайтов</p>
            </div>
            <div class="lists_moby">
                <p>
                    <router-link :to="{ name: 'home' }">Главная</router-link> |
                    <router-link :to="{ name: 'hello' }">Обо мне</router-link> |
                    <router-link :to="{ name: 'users.index' }">Услуги</router-link> |
                    <router-link :to="{ name: 'works.index' }">Проекты</router-link>
                </p>
            </div>
            <div class="lists">
                <p>
                    <router-link :to="{ name: 'home' }">Главная</router-link>
                    <router-link :to="{ name: 'hello' }">Обо мне</router-link>
                    <router-link :to="{ name: 'users.index' }">Услуги</router-link>
                    <router-link :to="{ name: 'works.index' }">Проекты</router-link>
                </p>
            </div>
        </div>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {}
</script>