<template>
    <div class="works">
        <div class="loading" v-if="loading">
            Loading...
        </div>

        <div v-if="error" class="error">
            <p>{{ error }}</p>

            <p>
                <button @click.prevent="fetchData">
                    Try Again
                </button>
            </p>
        </div>
        <div v-if="works">
            <div v-for="{ title, content, id } in works">
                <strong>Title:</strong> {{ title }},
                <strong>Content:</strong> {{ content }},
                <strong>Id:</strong> {{ id }
                <a :href="'#openModal' + id">Ссылка</a>
                <!--<a href="#openModal">Открыть модальное окно</a>-->
            </div>
        </div>
        <div v-if="tests">
            <div v-for="{ title, content, id, image } in tests">
                <strong>Title:</strong> {{ title }},
                <strong>Content:</strong> {{ content }},
                <strong>Id:</strong> {{ id }}
                <!-- shorthand -->
                <img :src="'uploads/sliders/' + image"/>
                <!--<a href="#openModal">Открыть модальное окно</a>-->
            </div>
        </div>
        <button class="d_btn">Кнопка</button>
        <button class="d_btn">Кнопка</button>


        <div v-if="works">
            <div v-for="{ item, title, content, id } in works">
                <div v-bind:id="'openModal' + id" class="modalDialog">
                    <div>
                        <a href="#close" title="Закрыть" class="close">
                            <img class="modal_close" src="/img/close.svg">
                        </a>
                        <h2>Модальное окно {{ id }}</h2>
                        <p>Пример простого модального окна, которое может быть создано с использованием CSS3.</p>
                        <p>Его можно использовать в широком диапазоне, начиная от вывода сообщений и заканчивая формой регистрации.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                loading: false,
                works: null,
                tests: null,
                error: null,
            };
        },
        created() {
            this.fetchData();
            this.fetchData2();
        },
        methods: {
            fetchData() {
                this.error = this.works = null;
                this.loading = true;
                axios
                    .get('/api/works')
                    .then(response => {
                        this.loading = false;
                        this.works = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            fetchData2() {
                this.error = this.tests = null;
                this.loading = true;
                axios
                    .get('/api/tests')
                    .then(response => {
                        this.loading = false;
                        this.tests = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        }
    }
</script>