@font-face {
    font-family: 'Sochi2014';
    src: url('../fonts/dxdfonts/Sochi2014-Light.eot');
    src: url('../fonts/dxdfonts/Sochi2014-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dxdfonts/Sochi2014-Light.woff2') format('woff2'),
    url('../fonts/dxdfonts/Sochi2014-Light.woff') format('woff'),
    url('../fonts/dxdfonts/Sochi2014-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DOCKER ONE';
    src: url('../fonts/dxdfonts/DOCKERONE.eot');
    src: url('../fonts/dxdfonts/DOCKERONE.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dxdfonts/DOCKERONE.woff2') format('woff2'),
    url('../fonts/dxdfonts/DOCKERONE.woff') format('woff'),
    url('../fonts/dxdfonts/DOCKERONE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOCKER THREE';
    src: url('../fonts/dxdfonts/DOCKERTHREE.eot');
    src: url('../fonts/dxdfonts/DOCKERTHREE.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dxdfonts/DOCKERTHREE.woff2') format('woff2'),
    url('../fonts/dxdfonts/DOCKERTHREE.woff') format('woff'),
    url('../fonts/dxdfonts/DOCKERTHREE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOCKER TWO';
    src: url('../fonts/dxdfonts/DOCKERTWO.eot');
    src: url('../fonts/dxdfonts/DOCKERTWO.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dxdfonts/DOCKERTWO.woff2') format('woff2'),
    url('../fonts/dxdfonts/DOCKERTWO.woff') format('woff'),
    url('../fonts/dxdfonts/DOCKERTWO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Drugs';
    src: url('../fonts/dxdfonts/TTDrugs-Thin.eot');
    src: url('../fonts/dxdfonts/TTDrugs-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dxdfonts/TTDrugs-Thin.woff2') format('woff2'),
    url('../fonts/dxdfonts/TTDrugs-Thin.woff') format('woff'),
    url('../fonts/dxdfonts/TTDrugs-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/*
    font-family: 'DOCKER ONE', sans-serif;
    font-family: 'DOCKER TWO', sans-serif;
    font-family: 'DOCKER THREE', sans-serif;
    font-family: 'Sochi2014', sans-serif;
    font-family: 'TT Drugs', sans-serif;

 */