.imagedrozone {
    padding-top: 10px;
}
.visiblebtn {
    visibility: visible !important;
}
#removePreview {
    visibility: hidden;
}
#imageInput {
    display: none;
}
.layoutdrop {
    position: relative;
    height: 120px;
}
.customdropzone_title {
    position: absolute;
    bottom: 28%;
    left: 35%;
}
.customdropzone {
    cursor: pointer;
    border: 2px dashed;
}
#preview img {
    padding: 10px;
}
.checkadmin {
    padding-top: 22px;
    border: 1px solid #aa66cc;
    border-radius: 15px;
    margin-right: -10px;
}
.checkban {
    padding-top: 22px;
    border: 1px solid #7dc855;
    border-radius: 15px;
}
.backgroun {
    padding-top: 20px;
}
.btn_layout {
    padding-top: 10px;
}
.sliderimage #preview {
    height: 30vh;
    overflow: hidden;
}
.imagesworksup {
    display: inline-block;
}
.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1{
    display: inline-block;
    margin-top: 25px;
    position: relative;
}

html[xmlns] .input-file-row-1{
    display: block;
}

* html .input-file-row-1 {
    height: 1%;
}

.upload-file-container {
    position: relative;
    width: 100px;
    height: 137px;
    overflow: hidden;
    background: url(http://i.imgur.com/AeUEdJb.png) top center no-repeat;
    float: left;
    margin-left: 23px;
}

.upload-file-container:first-child {
    margin-left: 0;
}

.upload-file-container > img {
    width: 93px;
    height: 93px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.upload-file-container-text{
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #719d2b;
    line-height: 17px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 35px;
}

.upload-file-container-text > span{
    border-bottom: 1px solid #719d2b;
    cursor: pointer;
}

.upload-file-container input  {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0;
    padding: 0;
    border: none;
    width: 70px;
    height: 50px;
    cursor: pointer;
}
.viewsliders {
    padding-top: 20px;
}